*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color:  red;
}

textarea {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
